body {
	margin           : 0;
	padding          : 0;
	text-align       : center;
	font-family      : 'Roboto Condensed', sans-serif;
	background-color : white;
}
h1 { color           : #185fae; }
h2 { color           : #f86024; text-align: left; }
p {
	margin           : 0.4em 0;
	text-align       : left;
	text-indent      : 1em;
	font-size        : 1.2em;
}
#data {
	background-color : grey;
	color            : white;
	padding          : 10%;
}